.container{
    max-width: 1024px;
}

.container_filias{
    display: grid;
    grid-template-columns:  calc(1024px/2)  calc(1024px/2);
}

.filiais{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(1024px/2);
    gap: 20px;
    border: 1px solid #000;
}

.filiais h4{
    font-size: 28px;
    text-transform: uppercase;
}

.filiais p {
    font-size: 18px;
    color: #888886;
}

.img{
    width: 100%;
    height: 40vh;
}

@media screen and (min-width: 992px ) {

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .filiais{
        width: 100%;
        height: 40vh;

    }

    .filiais h4{
        font-size: 20px;
    }
    
    .filiais p {
        font-size: 14px;
    }

    .img{
        width: 100%;
    }
}
  
@media only screen and (max-width: 767px) {
    .container_filias{
        display: flex;
        flex-direction: column;
    }
        
    .filiais {
        width: 335px;
        height: 40vh;        
    }

    .filiais h4{
        font-size: 18px;
    }
    
    .filiais p {
        font-size: 12px;
    }

    .img{
        width: 334px;
    }
}