.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;

}

.head{
    margin-bottom: 60px;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.head h3{
    text-align: center;
}

.head p {
    text-align: center;
    line-height: 2rem;
}