.container{
    max-width: 1024px;
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 10px auto;
}

.logo{
    width: auto;
    height: 50px;
}

.links{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.link{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}


@media screen and (min-width: 992px ) {

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

}
  
@media only screen and (max-width: 767px) {
    .container{
        justify-content: center;
    }
}